.page-head {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;

    &__title {
        @include h5;
    }

    &__ctas {
        display: flex;
        align-items: center;

        > * {
            margin-left: 1rem;
        }
    }
}

.page-prehead {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;

    &__title {
        @include h5;
    }

    &__ctas {
        display: flex;
        align-items: center;

        > * {
            margin-left: 1rem;
        }
    }
}

.page-content {

}

